TipoOperacaoRemessa {{.TipoOperacaoRemessa}} LocalPagamento {{.LocalPagamento}} AGCCDAC        {{.AGCCDAC}} CPF            {{.CPF}}   LastName {{.LastName}} Vencimento  {{.Vencimento}} ValorDocumento {{.ValorDocumento}} NumeroDoc      {{.NumeroDoc}}
LocalPagamento {{.LocalPagamento}} AGCCDAC        {{.AGCCDAC}} CPF            {{.CPF}} Rua            {{.Rua}}
Cidade      Serra Negra TipoOperacaoRemessa    {{.TipoOperacaoRemessa}} LocalPagamento {{.LocalPagamento}} AGCCDAC        {{.AGCCDAC}} 
NumeroDoc      {{.NumeroDoc}}



TipoOperacaoRemessa 025897 LocalPagamento {{.LocalPagamento}} AGCCDAC       45126975 CPF          21458787456   LastName Matarazzo Vencimento  10/06/2023 ValorDocumento 524.9 NumeroDoc     8754963
LocalPagamento {{.LocalPagamento}} AGCCDAC        {{.AGCCDAC}} CPF            {{.CPF}} Rua            {{.Rua}}
Cidade      Curitiba TipoOperacaoRemessa    {{.TipoOperacaoRemessa}} LocalPagamento {{.LocalPagamento}} AGCCDAC        684866336 
NumeroDoc     0648283684


TipoOperacaoRemessa 56686889 LocalPagamento {{.LocalPagamento}} AGCCDAC       875466426654 CPF        0047845569   LastName Lucios SA Vencimento  22/07/2023 ValorDocumento 4875.63  NumeroDoc      002547841
LocalPagamento {{.LocalPagamento}} AGCCDAC       874565615656 CPF            {{.CPF}} Rua            {{.Rua}}
Cidade      Rio de Janeiro TipoOperacaoRemessa    {{.TipoOperacaoRemessa}} LocalPagamento {{.LocalPagamento}} AGCCDAC        08879665 
NumeroDoc     0126868675